/*Base*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
/*Utilities*/

/*Header & Nav*/

/*Main content*/

/*Animations*/

/*Media Queries*/